body{
  background-color: black;
  color: white;
}


#SearchBar{
  width: 65vw;
  height: 5vh;

}

button{
  width: 15vw;
  height: 6vh;
  margin-inline: 5px;
}
#navbar{
  margin: 5px;
}

.data-table{
  width: 100%;
  margin: 10px;
  font-size: 1.5rem;
  
}

img{
  width: 30px;
  height: 30px;
}


.positive{
  color: green;
}
.negative{
  color: red;
}


















/*body{
  background-color: black;
  color: white;
}


#SearchBar{
  width: 65vw;
  height: 5vh;

}

button{
  width: 15vw;
  height: 6vh;
  margin-inline: 5px;
}
#navbar{
  margin: 5px;
}
.data-table{
  width: 100%;
  margin: 10px;
  font-size: 1.5rem;
  
}
.new-data-table{
  width: 100%;
  margin: 10px;
  font-size: 1.5rem;
}
.new-data-table2{
  width: 100%;
  margin: 10px;
  font-size: 1.5rem;
}
.search-results-table{
  width: 100%;
  margin: 10px;
  font-size: 1.5rem;
}

img{
  width: 30px;
  height: 30px;
}

.percen{
  color: green;
}*/
