* {
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  
}


body{
  background-color: black;
  color: white;
}


#SearchBar{
  width: 65vw;
  height: 5vh;

}
#SearchBar::placeholder{
  padding-left: 20px;
  color: white;
}

button{
  width: 15vw;
  height: 6vh;
  margin-inline: 5px;
}

button:hover {
  cursor: pointer;
  
}

#navbar{
  margin: 5px;
}

.data-table{
  width: 100%;
  margin: 10px;
  font-size: 1.5rem;
  
}

img{
  width: 30px;
  height: 30px;
}
td:hover{
  cursor: pointer;
  color: blue;
  font-weight: 900;
}


.positive{
  color: green;
}
.negative{
  color: red;
}
